/* 
	Homepage 
				*/

body {
	font-family: Avenir, sans-serif;
}

.header_wrapper {
	position: fixed;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	background-color: #cc99ff;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 2;
}

.header_sections{
	flex: 0 50%;
	padding: 0px;
	text-align: left;
}

#name_logo {
	margin-left: 35px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	padding: 0px;
	text-align: left;
	position: relative;
	font-weight: bold;
	color: #fffd;
	font-size: 25px;
	text-shadow: 2px 2px #808080;
}

nav.nav_bar ul {
	list-style: none;
	padding: 0px;
	margin-left: 30px;
}

nav.nav_bar li {
	display: inline-block;
	padding: 5px;
	user-select: none;
	text-align: left;
	position: relative;
	
}

.nav_link {
	font-weight: bold;
	color: #fffd;
}

.nav_link:link{
	text-decoration: none;
}

.nav_link:hover{
	color: #808080;
}

.main_wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 1;
	height: 40%;
	justify-content: space-between;
}

.main_sections {
	flex: 0 50%;
	padding: 0px;
	text-align: left;
	display: block;
	margin-top: 100px;
	margin-left: 35px;
	margin-right: 35px;
	width: 50%;
	position: relative;
}

.main_info_wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	margin-bottom: 20px;
}

#main_intro {
	color: #ff0000;
	text-shadow: 1px 1px #808080;
}


.project_section_title {
	position: relative;
	display: block;
	width: 50%;
	text-align: left;
	color: #6600ff;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
}

.project_section {
	display: block;
	position: relative;
	width: 95%;
	margin-top: 20px;
	margin-left: 35px;
	z-index: 1;
}

.projects_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 35px;
	height: 100%;
}

.project {
	flex: 0 32%;
	position: relative;
	background-color: #cc99ff;
  	border-radius: 5px;
  	box-shadow: 5px 5px 5px #0003;
  	margin-bottom: 5px;
  	height: 250px;
  	overflow: hidden;
  	margin-bottom: 150px;
}


.project_image {
	width: 90%;
	height: 150px;
	margin: 5%;
	display: block;
	position: relative;
}

.project_title {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 50px;
	margin-top: 15px;
	display: block;
	font-weight: bold;
	position: relative;
	text-align: left;
	font-size: 18px;
	color: #fffd;
}


.project_info {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 50px;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	display: block;
	position: relative;
	color: #fffd;
}

.project:hover{
	background-color: #808080;
	cursor: pointer;
	height: 330px;
	margin-bottom: 20px; 
}

.project:active{
	box-shadow: none;
}

.project:link {
	text-decoration: none;
}
.contact_button{
	margin-top:10px;
	height: 35px;
	border: 2px solid;
	border-color: #808080;
	background-color: #0000ff; 
	color: #fffd;
	font-size: 15px;
	font-weight: bold;
	position: relative;
}

.contact_button:hover{
	opacity: 0.8;
	cursor: pointer;
}

.contact_button:click{
	opacity: 0.6;
}

.main_name{
	display: block;
	text-align: left;
	margin-top: 10px;
	position: relative;
	font-weight: bold;
	color: #cc99ff;
	text-shadow: 2px 2px #808080;
	margin-bottom: 30px;
	font-size: 50px;
}

.main_greet {
	margin-top: 0px;
	position: relative;
	font-weight: bold;
	font-size: 25px;
	color: #808080;

}

#main_intro {
	position: relative;
	font-weight: bold;
	font-size: 20px;

}

.main_image_wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
}

.main_image {
	width: 100%;
	height: auto;
}




/* 
	Resume 
			*/

.resume_wrapper {
	margin-top: 100px;
	margin-left: 35px;
	margin-right: 35px;
	display: block;
	width: 90%;
	position: relative;
	margin-bottom: 20px;
}

.resume_heading{
	color: black;
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	display: block;
	width: 100%;
	position: relative;
}

.resume_section_title {
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	border: 1px solid;
	border-color: transparent transparent black transparent;
	margin-top: 45px;
}

.resume_sections {
	display: block;
	position: relative;
	text-align: left;
}

.resume_section_text{
	font-size: 15px;
	display: block;
	position: relative;

}

.research_title {
	margin-bottom: 15px;
	display: block;
	width: 100%;
	position: relative;
}

.research_description {
	margin-bottom: 30px;
	display: block;
	width: 100%;
	position: relative;
}

.research_description ul{
	position: relative;
	list-style-type: initial;
	display: block;
}

.research_description li{
	position: relative;
	width: 100%
}
/* 
	bio
			*/

.back_button {
	margin-left: 35px;
	background-color: #808080;
	color: #fffd;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;

}

.back_button:hover{
	opacity: 0.8;
	cursor: pointer;
}
.bio_wrapper {
	display: block;
	position: relative;
	width: 100%;
	margin-top: 0px;
	padding: 0px;
}

.bio_heading{
	margin-left: 35px;
	margin-top: 100px;
	display: block;
	position: relative;
	text-align: left;
	color: #cc99ff;
	text-shadow: 2px 2px #808080;
	margin-bottom: 30px;
	font-size: 50px;
	font-weight: bold;
}

.bio_body_wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	width: 95%;
}

.bio_body_section2 {
	flex: 0 50%;
	display: block;
	width: 90%;
	position:relative;
	margin-left: 35px;
	margin-right: 35px;

}

.bio_body_section1 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	flex: 0 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.bio_sections {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin-left: 0px;
	justify-content: space-between;
}

.bio_info_sections{
	display: block;
	position: relative;
	width: 100%;
	margin-top: 50px;
	margin-left: 35px;
	margin-right: 35px;
	width: 50%;
	flex:0 40%;
	padding: 0px;
}

.bio_info {
	display: block;
	text-align: left;
	color: #808080;
	font-size: 18px;
	width: 90%;
	margin-top: -10px;
}

.bio_info_title {
	font-size: 25px;
	color: #6600ff;
	display: block;
	text-align: left;
	width: 100%;
}

.bio_image {
	width: 100%;
	height: auto;
}

#bio_video {
	width: 90%;
	height: 100%;
}

.timeline_title{
	font-size: 25px;
	color: #6600ff;
	display: block;
	text-align: left;
	width: 100%;
}
/* 
	The code below are obtained and modified from 
	the resources on W3Schools for creating a timeline
														*/

/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	margin: 0 auto;
	width: 100%;
	color: #fffd;
	  
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #808080;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: 0px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: 60px;
  background-color: #cc99ff;
  border: 4px solid #808080;
  top: 35px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 40px;
  width: 0;
  z-index: 1;
  right: 105px;
  border: medium solid #808080;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #808080;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 40px;
  width: 0;
  z-index: 1;
  left: 35px;
  border: medium solid #808080;
  border-width: 10px 10px 10px 0;
  border-color: transparent #808080 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.content_left, .content_right {
  padding: 20px 30px;
  background-color: #808080;
  position: relative;
  border-radius: 6px;
}

.content_left {
	margin-left: -40px;
	margin-right: 75px;
}

.content_right {
	margin-left: 5px;
	margin-right: 15px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 65px;
  border: medium solid #808080;
  border-width: 10px 10px 10px 0;
  border-color: transparent #808080 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 18px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }

  .content_left, 
  .content_right{
  	margin-left: 5px;
  	margin-right: 5px;
  }

}

/* 
	contact
			*/

#contact_calendar{
	border: 0;
	
}

.contact_heading {
	margin-left: 35px;
	margin-top: 100px;
	display: block;
	position: relative;
	text-align: left;
	color: #cc99ff;
	text-shadow: 2px 2px #808080;
	margin-bottom: 30px;
	font-size: 50px;
	font-weight: bold;
	width: 90%;
}

.contact_info_wrapper{
	position: relative;
	margin-top: 50px;
	display: block;
	text-align: left;
	margin-left: 35px;
	width: 90%;
	height: 100%;
}

.contact_info_sections{
	margin-bottom: 60px;
	width: 100%;

}

.contact_section_title {
	font-size: 25px;
	color: #6600ff;
	display: block;
	text-align: left;
	width: 100%;
}

.contact_section_text {
	font-size: 18px;
	color: #808080;
}

#contact_calendar {
	height: 600px;
	width: 100%;
	border: 1px solid #808080;
}

.contact_form {
	margin-left: 0px;
	
}

.contact_form ul{
	list-style: none;
  	padding: 0;
  	margin: 0;
  	position: relative;
  	display: block;
}

.contact_form li{
	margin-top: 10px;
	color: #808080;
	font-weight: bold;
	position: relative;
	display: block;
}

.contact_form label{
	display: inline-block;
	width: 90px;
}

#checkbox_label{
	width: 50%;
	display: inline-block;
}

#f_name, 
#f_email, 
#f_phone, 
#msg {
	font-family: Avenir, sans-serif;
}

/* 
	project
			*/

.project_wrapper {
	position: relative;
	margin-top: 100px;
	display: block;
	margin-right: 35px;
	margin-left: 30px;
	width: 90%;
}

.project_heading {
	margin-left: 0px;
	margin-top: 0px;
	display: block;
	position: relative;
	text-align: left;
	color: #cc99ff;
	text-shadow: 2px 2px #808080;
	margin-bottom: 30px;
	font-size: 50px;
	font-weight: bold;
}

.project_sections {
	display: block;
	position: relative;
	margin-left: 0px;
	width: 100%;
}

.section_title, 
.section_text {
	display: block;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	text-align: left;
	position: relative;
}

.section_title{
	font-size: 25px;
	color: #6600ff;
	display: block;
	font-weight: bold;

}

.section_text{
	font-size: 18px;
	color: #808080;
	display: block;
	font-weight: normal;
}

.img_wrapper{
	margin-right: 35px;
	margin-left: 0px;
	display: inline-block;
	width: 45%;
	min-width: 350px;
}

.project_img{
	width: 100%;
	height: auto;
	display: block;
}

.project_img_cap{
	width: 100%;
	color: black;
	font-style: italic;
	display: inline-block;
	text-align: left;
	font-size: 12px;
	margin-bottom: 15px;
}


/* 
	submit
			*/
#default_contact_msg {
	margin-left: 35px;
	margin-top: 100px;
}
